<div class="menu">
  <nav class="navbar">
    <div class="BotoncitoLogout">
      <button (click)="onVolver()" type="button" class="btnVolver">
        {{ "account.back" | translate }}
      </button>
    </div>
  </nav>
  <h1>{{ "account.title" | translate }}</h1>
  <div class="form-group">
    <label class="label" for="nickname">{{
      "account.nickname" | translate
    }}</label>
    <div class="input-group">
      <input
        type="text"
        id="nickname"
        class="form-control"
        [(ngModel)]="nickNameCopy"
        [disabled]="!editarNickname"
        />
        @if (!editarNickname) {
          <button
            class="btn btn-secondary btn-sm"
            (click)="editarNickname = !editarNickname"
            >
            {{ "actions.edit" | translate }}
          </button>
        }
        @if (editarNickname) {
          <button
            class="btn btn-secondary btn-sm"
            (click)="cambiarNickName()"
            >
            {{ "actions.save" | translate }}
          </button>
        }
      </div>
      @if (showNickNameErrorMsg) {
        <div class="invalid-feedback">
          {{ nickNameErrorMsg | translate }}
        </div>
      }
      @if (this.cambioNickname) {
        <div class="success-message">
          {{ "alerts.nicknameSuccess" | translate }}
        </div>
      }

      <label class="label" for="email">{{ "account.email" | translate }}</label>
      <div class="input-group">
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)]="emailCopy"
          [disabled]="!editarEmail"
          [class.is-invalid]="emailEnUso"
          (input)="verificarUsoEmail()"
          />
          @if (!editarEmail) {
            <button
              class="btn btn-secondary btn-sm"
              (click)="editarEmail = !editarEmail"
              >
              {{ "actions.edit" | translate }}
            </button>
          }
          @if (editarEmail) {
            <button
              class="btn btn-secondary btn-sm"
              [disabled]="emailEnUso"
              (click)="cambiarEmail()"
              >
              {{ "actions.save" | translate }}
            </button>
          }
        </div>
        @if (emailDistintoAlActualMsg) {
          <div class="invalid-feedback">
            {{ "alerts.emailSame" | translate }}
          </div>
        }
        @if (emailEnUsoMsg) {
          <div class="invalid-feedback">
            {{ "alerts.emailInUse" | translate }}
          </div>
        }
        @if (cambioEmail) {
          <div class="success-message">
            {{ "alerts.emailSuccess" | translate }}
          </div>
        }

        <button
          class="btn btn-primary"
          (click)="mostrarCambioClave = !mostrarCambioClave"
          (click)="desactivarAlertasClave()"
          >
          {{ "account.changePassword" | translate }}
        </button>

        @if (mostrarCambioClave) {
          <div class="clave">
            <label class="label" for="currentPassword">{{
              "account.currentPassword" | translate
            }}</label>
            <input
              type="password"
              id="currentPassword"
              class="form-control"
              [(ngModel)]="currentPassword"
              />
              <label class="label" for="newPassword">{{
                "account.newPassword" | translate
              }}</label>
              <input
                type="password"
                id="newPassword"
                class="form-control"
                [(ngModel)]="newPassword"
                />
                <label class="label" for="confirmNewPassword">{{
                  "account.confirmNewPassword" | translate
                }}</label>
                <input
                  type="password"
                  id="confirmNewPassword"
                  class="form-control"
                  [(ngModel)]="confirmNewPassword"
                  />
                  <button class="btn btn-success" (click)="cambiarClave()">
                    {{ "actions.saveChanges" | translate }}
                  </button>
                </div>
              }

              <div>
                @if (claveDistintaALaActualMsg) {
                  <div class="invalid-feedback">
                    {{ "alerts.passwordDifferent" | translate }}
                  </div>
                }
                @if (clavesNuevasNoCoincidenMsg) {
                  <div class="invalid-feedback">
                    {{ "alerts.passwordMismatch" | translate }}
                  </div>
                }
                @if (claveActualIncorrectaMsg) {
                  <div class="invalid-feedback">
                    {{ "alerts.currentPasswordIncorrect" | translate }}
                  </div>
                }
                @if (claveVaciaMsg) {
                  <div class="invalid-feedback">
                    {{ "alerts.passwordEmpty" | translate }}
                  </div>
                }
              </div>

              @if (cambioClave) {
                <div class="success-message">
                  {{ "alerts.passwordSuccess" | translate }}
                </div>
              }
            </div>
            <app-app-audio></app-app-audio>

          </div>