<body>
<nav>
<a [routerLink]="['/add-pokemon']">{{ 'actions.add' | translate }}</a>
<a [routerLink]="['/pokemon-list']">{{ 'NAV.POKEMON_LIST' | translate }}</a>
<a (click)="logout()">{{ 'actions.logout' | translate }}</a>
</nav>
<section class="fondodiv">
<div>
<h4>{{ 'pokemonList.title' | translate }}</h4>
 <ul>
 @for (pokemon of pokemons; track $index)
 {
 <li> <img [src]="pIcons[$index]" alt="Icono" class="pokemon-icon"> <a [routerLink]="['/pokemon-detail', pokemon.id]">{{pokemon.id}} - {{pokemon.especie}} </a></li>
 }
</ul>
</div>
</section>
  <app-app-audio></app-app-audio>

</body>
