<div class="menu">
    <h1>{{ "game.welcomeTitle" | translate }}</h1>
    <div>
      @if (tienePartida) {
        <button (click)="onNuevaPartida()">{{ "game.newGame" | translate }}</button>
        <button (click)="onSeleccionarPartida()">{{ "game.loadGame" | translate }}</button>
      }
      @if (!tienePartida) {
        <button (click)="onSeleccionarPartida()">{{ "game.newGame" | translate }}</button>
      }
      <button (click)="verRanking()">{{ "game.ranking" | translate }}</button>
      <button (click)="verPerfil()" class="perfil">{{ "profile.modifyAccount" | translate }}</button>
    </div>
</div>
<nav class="navbar">
    <div class="BotoncitoLogout">
      <button type="button" (click)="logout()">{{ "actions.logout" | translate }}</button>
    </div>
</nav>

<app-app-audio></app-app-audio>