<body>
  <div class="container">
    <div class="register-container">
      <h1>{{"register.title"|translate}}</h1>
      <fieldset>
        <legend>{{"login.legend"|translate}}</legend>
        <form [formGroup]="formUsuario" (ngSubmit)="addUser()">
          <label for="email">{{"login.emailLabel"|translate}}:</label>
          <input type="text" id="email" [placeholder]="'login.emailPlaceholder' | translate" formControlName="email">
    
          @if (formUsuario.controls['email'].touched && formUsuario.controls['email'].getError('required')) {
            <div class="error">{{"alerts.emailRequired"|translate}}</div>
          }
          @if (formUsuario.controls['email'].touched && formUsuario.controls['email'].getError('minlength')) {
            <div class="error">{{"alerts.minLengthEmail"|translate}}</div>
          }
    
          <label for="nick">{{"register.nickLabel"|translate}}:</label>
          <input type="text" id="nick" [placeholder]="'register.nickPlaceholder' | translate" formControlName="nick">
    
          @if (formUsuario.controls['nick'].touched && formUsuario.controls['nick'].getError('required')) {
            <div class="error">{{"alerts.nicknameEmpty"|translate}}</div>
          }
          @if (formUsuario.controls['nick'].touched && formUsuario.controls['nick'].getError('minlength')) {
            <div class="error">{{"alerts.minLengthNick"|translate}}</div>
          }
          @if (formUsuario.controls['nick'].touched && formUsuario.controls['nick'].getError('maxlength')) {
            <div class="error">{{"alerts.maxLengthNick"|translate}}</div>
          }
    
          <label for="password">{{"login.passwordLabel"|translate}}:</label>
          <input type="password" id="password" [placeholder]="'login.passwordPlaceholder' | translate" formControlName="password">
    
          @if (formUsuario.controls['password'].touched && formUsuario.controls['password'].getError('required')) {
            <div class="error">{{"alerts.passwordRequired"|translate}}</div>
          }
          @if (formUsuario.controls['password'].touched && formUsuario.controls['password'].getError('minlength')) {
            <div class="error">{{"alerts.minLengthPassword"|translate}}</div>
          }
          @if (formUsuario.controls['password'].touched && formUsuario.controls['password'].getError('maxlength')) {
            <div class="error">{{"alerts.maxLengthPassword"|translate}}</div>
          }
          
    
          <button type="submit">{{"actions.save"|translate}}</button>
        </form>
      </fieldset>
    </div>
  </div>
  <nav class="navbar">
    <img src="pokeball_icon.png" alt="fondo">
      <ul class="nav-links">
        <li>
        <a routerLinkActive="active" routerLink="/">{{"NAV.BEGINNING"|translate}}</a>
        |
        <a routerLinkActive="active" routerLink="/login">{{"NAV.LOGIN"|translate}}</a>
        |
        <a routerLinkActive="active" routerLink="/sobre-nosotros"
          >{{"NAV.ABOUT_US"|translate}}</a
        >
        |
        <a routerLinkActive="active" routerLink="/login-admin">{{"NAV.ADMIN"|translate}}</a>
        </li>
      </ul>
    </nav>
    <app-app-audio></app-app-audio>
</body>

  

