<body>
  <div class="TITULO">BECOME A LEADER</div>

  <nav class="navbar">
    <img src="pokeball_icon.png" alt="fondo" />
    <ul class="nav-links">
      <li>
        <a routerLinkActive="active" routerLink="/login">{{"NAV.LOGIN"|translate}}</a>
        |
        <a routerLinkActive="active" routerLink="/register">{{"NAV.REGISTER"|translate}}</a>
        |
        <a routerLinkActive="active" routerLink="/sobre-nosotros"
          >{{"NAV.ABOUT_US"|translate}}</a
        >
        |
        <a routerLinkActive="active" routerLink="/login-admin">{{"NAV.ADMIN"|translate}}</a>
        |
        <a (click)="changeLang('es')">ES</a>
        |
        <a (click)="changeLang('en')">EN</a>
      </li>
    </ul>
  </nav>
    <app-app-audio></app-app-audio>
  <router-outlet></router-outlet>
</body>

